.box-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-center {
  @extend .box-center;

  height: 100%;

  > div {
    width: 100%;
  }
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--clamp-lines, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}
